:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);

  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/*------------------BUTTON------------------*/

.hero [type='button'] {
  background-color: var(--accent-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  min-width: 200px;
  padding: 10px 32px;
}

[type='button'] {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  background: #f5f4fa;
  display: block;
  border-radius: 4px;
  padding: 6px 22px;
}

[type='button']:hover,
[type='button']:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
}

/*------------------HEADER------------------*/

.header-box {
  padding-top: 24px;
  padding-bottom: 25px;
}

.site-nav .link,
.auth-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  font-style: normal;
  letter-spacing: 0.02em;
}
.site-nav .link {
  color: var(--title-text-color);
}
.auth-nav .link {
  color: var(--primary-text-color);
}

.address .link:hover,
.address .link:focus,
.site-nav .link:hover,
.auth-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/*------------------LOGO------------------*/

.logo-web {
  color: var(--accent-color);
}

.logo-studio-black {
  color: #000000;
}
.logo-studio-white {
  color: var(--secondary-text-color);
}

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo .logo-studio-black:hover,
.logo .logo-studio-black:focus {
  color: var(--accent-color);
}

.logo .logo-studio-white:hover,
.logo .logo-studio-white:focus {
  color: var(--accent-color);
}

.logo .logo-web:hover,
.logo .logo-web:focus {
  color: var(--accent-color);
}

/*------------------HERO------------------*/

.hero {
  background-color: #2f303a;
}

.hero {
  text-align: center;
}

.btn-hero {
  margin-left: 500px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  max-width: 696px;
  padding-bottom: 30px;
  margin-left: 252px;
  margin-right: 252px;
}

/*------------------SPECIALITY------------------*/

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: var(--title-text-color);
  padding-top: 94px;
  margin-bottom: 50px;
}

.section-title-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  max-width: 270px;
  margin-bottom: 10px;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  max-width: 270px;
  padding-bottom: 94px;
}

.speciality {
  padding-top: 94px;
}

/*------------------ABOUT------------------*/

.about {
  margin-bottom: 50px;
}

.about-list {
  padding-bottom: 94px;
}

/*------------------OUR-TEAM------------------*/

.our-team {
  background-color: #f5f4fa;
}

.team-list {
  padding-bottom: 94px;
}

.card-team {
  max-width: 270px;
  text-align: center;
  background-color: var(--secondary-text-color);
  border-radius: 0px 0px 4px 4px;
}

.text-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}


/*------------------PORTFOLIO------------------*/

.filter-list {
  padding-top: 94px;
  padding-bottom: 50px;
}

.filter-item {
  max-width: 370px;
  background: var(--secondary-text-color);
  border: 1px solid #eeeeee;
}

.section-project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.filter {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}

.project-filter {
 
  padding: 20px 24px;
  max-width: 322px;
}


/*------------------FOOTER------------------*/

.footer {
  background-color: #2f303a;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  padding-top: 20px;
  padding-bottom: 60px;
  max-width: 231px;
}
.address a {
  color: rgba(255, 255, 255, 0.6);
}

.map {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.footer-box {
  padding-top: 60px;
}